@font-face {
  font-family: 'Manrope';
  src: url('../assetts/fonts/manrope/Manrope-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assetts/fonts/manrope/Manrope-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assetts/fonts/manrope/Manrope-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assetts/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
